<div class="inner-wrap-all">
<div class="row home-header-wrap">
  <div class="large-4 small-6 columns">
    <h1 class="logo">
      <a href="/">soonmine. Start giving better gifts. Start Getting better gifts.</a>
    </h1> 
  </div>

  <div class="large-8 small-6 columns">
    <nav>
      <div class="responsive-nav-btn right"><%= image_tag "menu-icon@2x.png",  height: '25', width: '25' %></div>
      <ul class="so-home-menu so-main-menu right">
            <li><%= link_to "LOG IN", new_user_session_path %></li>
            <li><%= link_to "SIGN UP", new_user_registration_path %></li>
            <li><%= link_to "ABOUT", about_path %></li>
            <li class="dropdown so-menu-search">
              <a class="menu-search" id="search-dropdown" href="/users"></a>

              <ul class="dropdown-so-search">
                  <li>
                    <%= form_tag "/users", {method: :get} do %>
                      <div class="row collapse so-menu-search-form">
                          <%= search_field_tag :search,nil, placeholder: "Find Users" %>
                          <%= submit_tag "", id: "user-search-submit" %>
                        </div>
                    <% end %>
                  </li>
              </ul>
            </li>
      </ul>
    </nav>
  </div>
</div>

<div class="home-main-section"> 
  <div class="row">
    <div class="large-5 tagline columns">
      <span>GIVE BETTER GIFTS.</span>
      <span>GET BETTER GIFTS.</span>
    </div>
  </div>

  <div class="row tagline-text">
    <div class="large-4 columns">

      <div class="row  small-white">
        <div class="large-12 columns normal">
          Soonmine keeps track of the gifts you want and shares your list with family and friends, so you don’t have to.
        </div>
      </div>

      <div class="row small-white">
        <div class="large-9 columns normal video-tagline">
          <%= link_to how_it_works_path do %>
            <span class="video-icon"></span>find out more
          <% end %>
        </div>
      </div>

      <div class="row small-white">
        <div class="large-10 columns normal">
          <%= link_to "SIGN UP", new_user_registration_path, class: "button expand signup-btn" %>
        </div>
      </div>

    </div>
  </div>
</div><!-- end home main section -->
</div>





















