<div class="row">
  <div class="large-12 columns">
      <nav class="top-bar home-nav" style="background-color: transparent;">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1 class="logo">
              <a href="/">soonmine. Start giving better gifts. Start Getting better gifts.</a>
            </h1>    
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="right">
            <li><%= link_to "LOG IN", new_user_session_path %></li>
            <li><%= link_to "SIGN UP", new_user_registration_path %></li>
            <li><%= link_to "ABOUT", about_path %></li>
            <li class="has-dropdown">
              <a class="menu-search" id="search-dropdown" href="/users"></a>
              <ul class="dropdown">
               <li class="has-form search">
                 <%= form_tag "/users", {method: :get} do %>
                   <div class="row collapse inner-nav-search-form">
                       <%= search_field_tag :search,nil, placeholder: "Find Users" %>
                       <%= submit_tag "", id: "user-search-submit" %>
                     </div>
                   </div>
                 <% end %>
               </li>
              </ul>
            </li>

          </ul>
        </section>
      </nav>
  </div>
</div>

<div class="home-main-section"> 
<div class="row">
  <div class="large-4 tagline">
        <span>Give Better Gifts.</span>
        <span>Get Better Gifts.</span>
    </div>
</div>

<div class="row tagline-text">
  <div class="large-4">

    <div class="row  small-white">
      <div class="large-12 columns normal">
        Soonmine keeps track of the gifts you want and shares your list with family and friends, so you don’t have to.
      </div>
    </div>

    <div class="row small-white">
      <div class="large-8 columns normal video-tagline">
        <%= link_to how_it_works_path do %>
          <span class="video-icon"></span>find out more
        <% end %>
      </div>
    </div>

    <div class="row small-white">
      <div class="large-10 columns normal">
        <%= link_to "SIGN UP", new_user_registration_path, class: "button expand signup-btn" %>
      </div>
    </div>

  </div>
</div>

</div><!-- end home main section -->
























