<% states_array = 
%W(Alabama Alaska Arizona Arkansas California Colorado Connecticut Delaware Florida Georgia Hawaii Idaho Illinois Indiana Iowa Kansas Kentucky Louisiana Maine Maryland Massachusetts Michigan Minnesota Mississippi Missouri Montana Nebraska Nevada New\sHampshire New\sJersey New\sMexico New\sYork North\sCarolina North\sDakota Ohio Oklahoma Oregon Pennsylvania Rhode Island South\sCarolina South\sDakota Tennessee Texas Utah Vermont Virginia Washington West\sVirginia Wisconsin Wyoming)
%>

<div class="row">
  <div class="row">
    <div class="row center-text">
      <h2>Settings</h2>
    </div>
    <div class="large-5 large-centered columns user-settings-block">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "custom" }) do |f| %>
        <%= devise_error_messages! %>

<div class="row">
          <div class="large-4 columns">
            <%= f.label :email, "Email Address", class: "inline" %>
          </div>
          <div class="large-8 columns">
            <%= f.text_field :email %>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <%= f.label :street, "Steet Address", class: "inline" %>
          </div>
          <div class="large-8 columns">
            <%= f.text_field :zipcode %>
          </div>
        </div>


        <div class="row">
          <div class="large-4 columns">
            <%= f.label :state, class: "inline" %>
          </div>
          <div class="large-8 columns">
            <%= f.select(:state, states_array, {}, class: "small button dropdown") %>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <%= f.label :town, class: "inline" %>
          </div>
          <div class="large-8 columns">
            <%= f.text_field :town %>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <%= f.label :zipcode, class: "inline" %>
          </div>
          <div class="large-8 columns">
            <%= f.text_field :zipcode %>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <%= f.label :birthday, class: "inline" %>
          </div>
          <div class="large-8 columns">
            <%= f.date_select :birthday,{ 
                              order: [:day, :month, :year], 
                              start_year: 1913, 
                              end_year: 2003},
                              {:class => "small button dropdown"} %>
          </div>
        </div>
        
        <div class="large-12">
          &nbsp;
        </div>
        
        <div class="row">      
          <div class="large-4 columns">
            <%= f.label :image_url, class: "inline" %>
          </div>

          <div class="large-8 columns">
            <input type="filepicker" 
                   data-fp-apikey="ABW0Ti7xaS32Z414SQO13z"
                   name="user[image_url]"
                   onchange="$('#profile-preview').attr('src',this.value)">
                 </input>
            <img src="" id="profile-preview">
          </div>
        </div>

        <div class="row">
          <%= f.fields_for :primary_list do |list| %>
            <div class="large-4 columns">
              <%= list.label :privacy, class: "" %>
            </div>
            <div class="large-8 columns">
              <ul class="inline-list">
                <li>
                  <label>
                    Public:  <%= list.radio_button :privacy, "public" %>
                  </label>
                </li>
                <li>
                  <label>
                    Private: 
                    <%= list.radio_button :privacy, "private" %>
                  </label>
                </li>
              </ul>
            </div>
          <% end %>
        </div>

        <% unless current_user.encrypted_password.blank? %>
          <div class="row">
            <div class="large-4 columns">
              <%= f.label :password %>
            </div>
            <div class="large-8 columns">
                <%= link_to "Change Password", "#", :"data-reveal-id" => "change-password-form" %>
            </div>
          </div>        
        <% end %>

        <br/>
        <br/>


        <div class="row">
          <div class="large-2 push-8">
            <%= f.submit "SAVE SETTINGS", class: "button small" %>
          </div>
        </div>
      <% end %>
    </div>

    <% unless current_user.encrypted_password.blank? %>
      <div class="reveal-modal small center-text" id="change-password-form">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div>
            <%= f.label :password %> 
            <i>(leave blank if you don't want to change it)</i>
            <br />
            <%= f.password_field :password, :autocomplete => "off" %>
          </div>

          <div>
            <%= f.label :password_confirmation %>
            <br />
            <%= f.password_field :password_confirmation %>
          </div>

          <div>
            <%= f.label :current_password %> 
            <i>(we need your current password to confirm your changes)</i>
            <br />
            <%= f.password_field :current_password %>
          </div>

          <div><%= f.submit "Update" %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
