

<div class="row">
  <div class="large-centered large-9 columns center-text">
    <h1 class="static-heading">Share my list</h1>
  </div>
</div>
<div class="row">
  <div class="large-centered large-9 columns center-text intro-text">
    We make it as easy as possible to help you start getting better
    <br/>
    gifts. Send automatic reminders to your friends and family when
    <br>
    important occasions are near or share your list socially.
  </div>
</div>
<div class="row">
  <div class="large-centered large-9 columns center-text intro-instructions">
    <h4>Add reminders</h4>
    <p>Add some contacts below and then choose which occasions we will send them</p>
    <p>reminders for. They will automatically be notified when the occasion is approaching.</p>
  </div>
</div>
<div class="row">
  <div class="large-centered large-6 columns">
    <div class="section-container auto share-tabs-wrap" data-section>
      <section>
        <p class="title" data-section-title><a href="#panel1">Add Contacts</a></p>
        <div class="content" data-section-content>
          <button data-reveal-id="add-by-hand" class="button large">Add Contacts by hand</button>
          <% if current_user.authentications.where(provider: "google_oauth2").first %>
            <%= button_to "Add Google Contacts", add_google_contacts_path, class: "button large", method: :get, remote: true  %>
          <% else %>
            Authorize with Google to access your Google contacts
          <% end %> 
        </div>
      </section>
      <section>
        <p class="title" data-section-title>
          <a href="#panel2">Add Reminders</a>
        </p>
        <div class="content content-no-padding" data-section-content>
          <%= form_for @reminder, html: {class: "custom add-reminders-form"} do |f| %> 

            <div class="row">
              <div class="small-4 columns">
                <%= f.label :email,"E-mail", for: "right-label", class: "left inline" %>
              </div>
              <div class="small-8 columns">
                <%= f.collection_select :recipient_email, 
                                        current_user.contacts, 
                                        :email, :firstname,{},
                                        {:class => "small button dropdown"} %>
              </div>
            </div>

            <div class="row">
              <div class="small-4 columns">
                <%= f.label :name, "Occasion", for: "right-label", class: "left inline" %>
              </div>
              <div class="small-8 columns">
                <%= f.text_field :name, id: "right-label", placeholder: "What's the occasion?" %>
              </div>
            </div>

            <div class="row">
              <div class="small-4 columns">
                <%= f.label :date, "Occasion date", for: "right-label", class: "left inline" %>
              </div>
              <div class="small-8 columns">
                <%= f.date_select :date,{ 
                  discard_year: true, 
                  allow_blank: true},
                  {:class => "small button dropdown"} %>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <button class="add-reminder-btn button">Add reminder</button>
              </div>
              
            </div>
            
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-centered large-9 columns center-text intro-instructions single-line">
    <h4>Share socially</h4>
    <p>Share your list across social networks and by email.</p>
  </div>
</div>
<div class="row">
  <div class="large-3 large-centered columns">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="padding-left: 2em;">
          <a class="addthis_button_facebook" 
          addthis:url="<%= user_url(current_user) %>"
          addthis:title="Soonmine List"></a>
          
          <a class="addthis_button_twitter" 
          addthis:url="<%= user_url(current_user) %>"
          addthis:title="Soonmine List"></a>        

          <a class="addthis_button_pinterest_share"
          addthis:url="<%= user_url(current_user) %>"
          addthis:title="Soonmine List"></a>    

          <a class="addthis_button_email" 
          addthis:url="<%= user_url(current_user) %>"
          addthis:title="Soonmine List"></a>    
        </div>


        <!-- AddThis Button END --> 
    </div>
</div>
<div class="row" style="height: 100px;">
  &nbsp;
</div>
<!-- Manual Contacts Modal -->
<div id="add-by-hand" class="reveal-modal medium">
  <%= form_for :contact, url: "/contacts", method: "POST" do |f| %>
    <h2 class="text-center">Add contact information</h2>

    <div id="manual-contact-fieldsets" class="row">
        <div class="small-6 columns">
          <input  name="contact[][firstname]" type="text" placeholder= "Name"/>
        </div>
        <div class="small-6 columns">
          <input  name="contact[][email]" type="text" placeholder= "Email"/>
        </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <button class="button" id="add-another-contact">Add another</button>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input name="source" type="hidden" value="manual"/>
        <%= f.submit "Save contacts", id: "save-contacts", class: "button" %>
      </div>
    </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- End Manual Modal -->


<!-- Google Contacts Modal -->
<div id="add-google-container" class="reveal-modal medium">
  <h2 class="text-center">Add contact information</h2>
  <div class="row">
    <div class="small-6 columns"><input type="text"></div>
    <div class="small-6 columns"><input type="text"></div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <button class="button" id="add-another-contact">Add another</button>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <button class="button" id="save-contacts">Save contacts</button>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- End Google Modal -->




