<li>
  <div class="product-block">
    <div class="product-block-image">
        <div class="product-block-image-overlay">
         <%= link_to("X", product, method: :delete, confirm: "This will delete the product. Forever.", class: "product-delete-btn", id: "delete-product") if @user == current_user %>
         <%= link_to "BUY", product.offsite_url, class: "button medium product-buy-btn", target: "_blank" %>
        </div>
        <%= image_tag product.image_url %>
    </div>  
    <div class="block-product-info">
      <p class="uppercase product-name"><%= product.name %></p>
      <p><%= number_to_currency product.price %></p>
    </div>
  </div>
</li>
