<div class="user-diplay-row row">
  <div class="large-3 columns small-6">
    <p><%= link_to user.fullname, user, id:"row-user-name", class: "row-user-name" %></p>
  </div>



  <div class="large-7 columns small-2">
    <div class="row search-results-wrap">
      <div class="row-user-image-container large-2 columns">
          <div class="search-result">
          <%= image_tag user.image_url, class: "row-user-image" %>
        </div>
      </div>
      <%= render partial: "row_product_display", 
      collection: user.primary_list_of_products.limit(5), 
      as: :product, locals: {user: user} %>
      <div class="large-offset-<%= (5 - user.primary_list_of_products.length) if user.primary_list_of_products.length <= 5 %>">

      </div>
    </div>
  </div>

  <div class="large-2 columns">
    <span class="search-and-more">
       <%= "And #{(user.primary_list_of_products.length - 5)} More" if user.primary_list_of_products.length >= 6 %> 
    </span>
  </div>
</div>