<div class="row">
  <ul class="large-block-grid-4">
    <li>
      <div class="user-profile-block">
        <div class="block-user-image">
          <%= image_tag @user.image_url %>
        </div>
        <div class="block-user-info">
          <p class="uppercase"><%= @user.fullname.present? ? @user.fullname : @user.email %></p>
          <p><%= "#{@user.town}, #{@user.state}" rescue "No Location Provided" %></p>
        </div>
      </div>
    </li>

    <%= render partial: "users/product_block", collection: @list, as: :product %>

  </ul>
</div>

<div id="sort-container">
  SORT
  <%= link_to "Date Added", user_path(@user, sort: "date") %>
  <br/> 
  <%= link_to "Price: Low to High", user_path(@user, sort: "lowest") %>
  <br/> 
  <%= link_to "Price: High to Low", user_path(@user, sort: "highest") %> 
</div>

<% content_for :header do %>
  <div class="row header">

  </div>
<% end %>


