<div class="row">
  <ul class="large-block-grid-4" style="height:9000px;">
    <li>
      <div class="user-profile-block">
        <div class="block-user-image">
          <%= image_tag @user.image_url %>
        </div>
        <div class="block-user-info">
          <p class="uppercase"><%= @user.fullname.present? ? @user.fullname : @user.email %></p>
          <p><%= "#{@user.town}, #{@user.state}" rescue "No Location Provided" %></p>
        </div>
      </div>
    </li>

    <%= render partial: "users/product_block", collection: @list, as: :product %>

  </ul>
</div>

<div id="sort-container" style="width: 200px;">

  <%= link_to "SORT", "#", id: "sort-show" %>
  <div id="sort-contents">
    <form>
      <% %W(date lowest highest need really\swant want).each do |sort_value| %>
        <input type="radio" name="sort" 
               data-target= "<%= user_path(@user, sort: sort_value.split[0])%>"
               <%= "checked" if params[:sort] == sort_value.split[0] %>>
          <%= sort_value.camelize %>
        </input>
      <br/>
      <% end %>
    </form>  
  </div>
</div>

<a href="#" class="scrollup">Scroll</a>

<% content_for :header do %>
  <div class="row header">

  </div>
<% end %>












