<div class="row">

  <div class="responsive-sort-menu">
    <span>Sort</span>
  </div>
  <ul class="large-block-grid-4 products-grid-list">
    <li>
      <div class="user-profile-block">
        <div class="block-user-image">
          <%= image_tag @user.image_url %>
        </div>
        <div class="block-user-info">
          <p class="uppercase block-user-name"><%= @user.fullname.present? ? @user.fullname : @user.email %></p>
          <p><%= "#{@user.town}, #{@user.state}" rescue "No Location Provided" %></p>
        </div>
      </div>
    </li>

    <%= render partial: "users/product_block", collection: @list, as: :product %>

  </ul>
</div>

<div id="sort-container">

  <div class="sort-show-wrap">
       <%= link_to "SORT", "#", id: "sort-show" %>
  </div>
 
  <div id="sort-contents">
    <form class="custom">
      <% [["date", "Date"], 
          ["lowest", "Price: Low to High"],
          ["highest", "Price: High to Low"],
          ["need", "Need"],
          ["really", "Really want"],
          ["want", "Want"]].each do |sort_value| %>
        
        <label for="<%= sort_value[1] %>">
          
          <input name="sort" 
            type="radio" id="<%= sort_value[1] %>"
            <%= "CHECKED" if params[:sort] == sort_value[0] %>
            style="display:none;" class="hidden-field"></input>
          <span class="custom radio <%= "checked" if params[:sort] == sort_value[0] %>"
                data-target= "<%= user_path(@user, sort: sort_value[0])%>"></span>
          <%= sort_value[1] %> 
        </label>


      <% end %>
    </form>  
  </div>
</div>

<a href="#" class="scrollup">Scroll</a>

<% content_for :header do %>
  <div class="row header">

  </div>
<% end %>
