<%= form_tag("/contacts", method: "post") do %>
  <div class="row" id="contacts-container">
    <% @results.each do |parsed_user| %>
      <span class="custom checkbox">
        <input name="contact[]" type="checkbox" 
        value="<%= parsed_user.name %>,<%= parsed_user.email %>" >
          <%= parsed_user.name %> - <%= parsed_user.email %>

      </span>
    <% end %>
  </div>

  <%= submit_tag "Add Selected Contacts" %>
<% end %>