<div class="sign-up-wrap">
  <div class="row">
    <div class="large-4 large-centered columns center-text">
      <div class="logo-standalone">
        <h1 class="logo">
          <a href="/">soonmine. Start giving better gifts. Start Getting better gifts.</a>
        </h1>    
      </div>
        <h2 class="title-standalone">Sign-Up</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-5 large-centered columns center-text user-signup-block signup-standalone">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook), class: "button expand facebook-signup-button" %>
      
      <%= link_to "Log in with Google", user_omniauth_authorize_path(:google_oauth2), class: "button expand google-signup-button" %>

      <%= f.email_field :email, :autofocus => true, placeholder: "Email Address" %>

      <%= f.password_field :password, placeholder: "Password" %>

      <div class="row">
        <div class="large-6 columns">
          <%= link_to "Forgot Your Password?", new_user_password_path %>
        </div>
      </div>


      <%= f.submit "LOG IN", class: "button standalone-signup-btn  expand" %>
    <% end %>
  </div>
</div>

</div><!-- end signup wrap -->

