<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "SoonMine", root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if current_user %>
          <li class="divider"/>
          <li><%= link_to image_tag(current_user.image_url), "#", style: "line-height: 0px;" %></li>
          <li><%= link_to current_user.fullname, "#" %></li>
          <li class="divider"/>
          <li><%= link_to "About", new_user_registration_path %></li>
          <li class="divider"/>
          <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "About", new_user_registration_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>