<div class="contain-to-grid">
  <nav class="top-bar inner-page-nav">
    <ul class="title-area">
      <li class="name inner-page-logo">
        <h1 class="logo">
          <a href="/">soonmine. Start giving better gifts. Start Getting better gifts.</a>
        </h1> 
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">           
          <li class="has-dropdown">
              <% if current_user %>
                <%= link_to current_user do %>
                <%= image_tag current_user.image_url, width: 33, class: "avatar-img" %>
                <%= current_user.firstname ? current_user.fullname : current_user.email %>
              <% end %>      
              </a>
              <ul class="dropdown">
                <li>
                  <%= link_to "MY SOONMINE", current_user%>
                </li>
                <li>
                  <%= link_to "ADD CONTACTS", new_contact_path %>
                </li>
                <li>
                  <%= link_to "ADD PRODUCTS", new_product_path %>
                </li>
                <li>
                  <%= link_to "ADD REMINDERS", new_reminder_path %>
                </li>
                <li>
                  <a href="#" data-reveal-id="socialShare">SHARE MY LIST</a>
                </li>
                <li>
                  <%= link_to "SETTINGS", edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to "SIGN OUT", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
          </li> 
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
        <li class="has-dropdown">
          <%= link_to "ABOUT", about_path %>
          <ul class="dropdown">
            <li>
              <%= link_to "HOW IT WORKS", how_it_works_path %> 
            </li>
            <li>
              <%= link_to "THE TEAM", team_path %> 
            </li>

            <li>
              <%= link_to "CONTACT", contact_us_path %> 
            </li>

            <li>
              <%= link_to "PRIVACY", privacy_path %> 
            </li>
            <li>
              <%= link_to "COPYRIGHT", copyright_path %> 
            </li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a class="menu-search" id="search-dropdown" href="/users"></a>
          <ul class="dropdown">
            <li class="has-form search">
              <%= form_tag "/users", {method: :get} do %>
                <div class="row collapse inner-nav-search-form">
                    <%= search_field_tag :search,nil, placeholder: "Find Users" %>
                    <%= submit_tag "", id: "user-search-submit" %>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </li>

      </ul>
    </section>
  </nav>
</div>