<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "SoonMine", root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if current_user %>
          <li>
            <%= link_to  current_user, style: "line-height: 0px;" do %>
              <%= image_tag(current_user.image_url, width: 50) %>
            <% end %>
          </li>                        
          <li class="has-dropdown">
              <a><%= current_user.firstname ? current_user.fullname : current_user.email %></a>
              <ul class="dropdown">
                <li>
                  <%= link_to "MY SOOMINE", current_user%>
                </li>
                <li>
                  <%= link_to "ADD PRODUCTS", new_product_path %>
                </li>
                <li>
                  <a href="#" data-reveal-id="socialShare">SHARE MY LIST</a>
                </li>
                <li>
                  <%= link_to "SETTINGS", edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to "SIGN OUT", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
          </li> 
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
        <li class="has-dropdown">
          <%= link_to "About", about_path %>
          <ul class="dropdown">
            <li>
              <%= link_to "HOW IT WORKS", how_it_works_path %> 
            </li>
            <li>
              <%= link_to "THE TEAM", contact_path %> 
            </li>

            <li>
              <%= link_to "CONTACT", contact_path %> 
            </li>

            <li>
              <%= link_to "PRIVACY", privacy_path %> 
            </li>
            <li>
              <%= link_to "COPYRIGHT", copyright_path %> 
            </li>
          </ul>
        </li>
        <li><%= link_to image_tag("search.png", width: 30, class: "search-icon"), users_path %></li>

      </ul>
    </section>
  </nav>
</div>